################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################


/obj
/.vs
/MotorControl.Api/bin/Debug/net8.0
/MotorControl.Api/obj
/MotorControl.Api/.vs/MotorControl.Api/v17
